body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #03aa87;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav {
    background-color: #165144;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    background-image: url('https://media.discordapp.net/attachments/1233928696512122983/1305272680966127656/image.png?ex=67478569&is=674633e9&hm=d517b55f665aba99ab12244f7c31d739345c2e65cf738fde3bcc9f8d9b5dbe22&=&format=webp&quality=lossless&width=1099&height=671');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero h2 {
    font-size: 2.5rem;
}

.content {
    padding: 20px;
}

.section {
    margin-bottom: 30px;
}

.section h3 {
    color: #03aa87;
    border-bottom: 2px solid #165144;
    padding-bottom: 5px;
}

footer {
    background-color: #03aa87;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
}
